<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
</head>
<nav th:replace="fragments/navbar :: unauthNavbar"></nav>

<main>

    <div class="container">
        <h1>These are all the pets...</h1>

        <div class="row p-0 d-flex justify-content-center mt-4">
            <div class="col-3 p-0 d-flex justify-content-center" th:each="pet : ${pets}">
                <div class="card text-center mb-4 p-0" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${pet.name}"></h5>
                        <p class="card-text" th:text="${pet.species}"></p>
                        <p class="card-text" th:text="${pet.age} + ' years old'"></p>
                        <a th:href="'/pets/' + ${pet.id}" class="btn-makeshift">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
</html>