<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Edit Post')"></div>
</head>
<body>

<div th:replace="fragments/navbar :: unauthNavbar"></div>

<h1>Create an Ad</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <form th:action="@{}" th:method="POST" th:object="${post}">
                    <label for="title">Title</label>
                    <input id="title" type="text" placeholder="Enter Title" th:field="*{title}" />
                    <label for="body">Body</label>
                    <input id="body" type="text" placeholder="Enter a Description" th:field="*{body}" />
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>