<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
</head>
<body>

<nav th:replace="fragments/navbar :: unauthNavbar"></nav>

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is just one post</h1>
                <h2 th:text="${post.title}"></h2>
                <p th:text="${post.body}"></p>
                <p th:text="${post.user.username}"></p>
                <p th:text="'Created by: ' + ${post.user.email}"></p>
                <a th:href="'/posts/' + ${post.id} + '/edit'" class="btn-makeshift">Edit</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>

</body>
</html>