<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerBasics">
    <meta charset="UTF-8" />
    <title>My apps</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</th:block>

<th:block th:fragment="someCSS">
    <link th:if="${role == 'admin'}" rel="stylesheet" href="/css/admin.css" />
    <link th:if="${role != 'admin'}" rel="stylesheet" href="/css/user.css" />
</th:block>



<th:block th:fragment="myLinks">
    <script>
        console.log("Graham");
    </script>
</th:block>

</html>