<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <!-- Fixed navbar -->
    <nav th:fragment="unauthNavbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/home">
            <img src="/img/navbar/icon-spring-cloud.svg" width="45" class="d-inline-block align-top" alt="" />
            Spring
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">



            <ul class="navbar-nav">


                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a href="#" class="nav-link">Welcome, <span th:text="${#authentication.principal.username}"></span></a>
                </li>



                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="postsNavbarDropdownMenuLink" data-toggle="dropdown">Posts</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/posts">View All Posts</a>
                        <a class="dropdown-item" href="/posts/create">Create a New Post</a>
                        <a class="dropdown-item" href="">Something Else Here</a>
                    </div>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adsNavbarDropdownMenuLink" data-toggle="dropdown">Ads</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/ads">View All Ads</a>
                        <a class="dropdown-item" href="/ads/create">Create a New Ad</a>
                        <a class="dropdown-item" href="#">Something Else Here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="petsNavbarDropdownMenuLink" data-toggle="dropdown">Pets</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/pets">View All Pets</a>
                        <a class="dropdown-item" href="/pets/create">Create a New Pet</a>
                    </div>
                </li>



                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="projectsNavbarDropdownMenuLink" data-toggle="dropdown">Projects</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/roll-dice">Roll Dice</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something Else Here</a>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" th:method="post">
                    <button class="btn">Logout</button>
                </form>
            </li>
        </ul>
    </nav>

</html>