<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head('Default')"></div>
</head>
<description>

    <div th:replace="fragments/navbar :: unauthNavbar"></div>


    List of Names:
    <ul>
        <li th:each="name : ${listOfNames}" th:text="${name}"></li>
    </ul>

    <input id="myHiddenData" type="hidden" th:value="${listOfNames}" />

    <div th:if="${true}">
        This gets to be displayed
    </div>
    There's a hidden line below this text
    <div th:if="${!true}">
        This does not get displayed
    </div>
    There's a hidden line above this text

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: scripts"></div>

</description>
</html>