<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: headerBasics"></div>
    <div th:replace="fragments/header :: someCSS"></div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Guess a number</h1>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="/roll-dice/1">1</a>
            <a href="/roll-dice/2">2</a>
            <a href="/roll-dice/3">3</a>
            <a href="/roll-dice/4">4</a>
            <a href="/roll-dice/5">5</a>
            <a href="/roll-dice/6">6</a>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div th:if="${guess}">
                <h2>You guessed, <span th:text="${guess}"></span></h2>
                <h2>The computer rolled a <span th:text="${n}"></span></h2>
                <div th:if="${guess} != ${n}">
                    <h3>Try again!</h3>
                </div>
                <div th:if="${guess} == ${n}">
                    <h3>You got it!</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footerBasics"></div>

</body>
</html>